# Compiled class files
*.class

# Log files
*.log
log/
logs/

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IDEA / Eclipse Project files
.project
.classpath
.settings/
.mvn/
.factorypath
.metadata/
target/
bin/w
tmp/
*.iml
*.ipr
*.iws
.idea/
build/
.DS_Store
.vscode/
*.sublime-project
*.sublime-workspace

# Maven / Gradle
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.idea/
.gradle/
gradle/
out/

# Local configuration files (e.g., sensitive info)
application*.yml
application*.properties
*.bak

# Spring Boot Actuator's external log directory
/target/*.jar.original

# macOS specific files
.DS_Store
.idea/